---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %}
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4 serif-font">Better living, outdoors.</h1>
      <p class="lead mb-4">Bee creative. Bee adventurous. <b>Bee Wild.</b></p>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="500" src="{{site.baseurl}}/assets/images/beehero.png">
    </div>
  </div>
</div>
{% endif %}

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-12">
    <div class="row">
      {% for post in site.categories.features %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endfor %}

      <!-- BLOG FEATURE NEEDS TO BE ADDED BECAUSE ITS NOT A REGULAR PAGE-->
      <div class="col-md-6 mb-5">
        <div class="card">
            <a href="{{ site.baseurl }}/blog/">
                <img class="rounded mb-4" src="{{ site.baseurl }}/assets/images/6.jpg" alt="Blog">
            </a>
            <div class="card-block">
                <h2 class="card-title h4 serif-font"><a href="{{ site.baseurl }}/blog/">Our blog</a></h2>
                <p class="card-text text-muted">It's our blog! Read our incredible thoughts here..</p>
                <div class="metafooter">
                    <div class="wrapfooter small d-flex align-items-center">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- END BLOG FEATURE -->

    </div>
  </div>
</section>
